.menu-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    row-gap: 15px;
}

Button {
    font-size: 18px;
    width: 200px;
    height: 40px;
    unity-font-style: bold;
    margin: 5px 0;
}
